@model IndexVM
<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0"><a asp-controller="Home" asp-action="Index">Anasayfa</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Hakkımızda</strong></div>
        </div>
    </div>
</div>

<div class="site-section border-bottom" data-aos="fade">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6">
                <div class="block-16">
                    <figure>
                        <img src="/images/image_900.webp" alt="Image placeholder" class="img-fluid rounded">
                    </figure>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">


                <div class="site-section-heading pt-3 mb-4">
                    <h2 class="text-black">Ne yapıyoruz?</h2>
                </div>
                <p>Kalite ve Güvenin Adresi! Müşteri memnuniyetini ön planda tutan e-ticaret sitemizde, moda ve teknoloji dünyasının en özel ürünleriyle sizlere hizmet veriyoruz. Uygun fiyatlar, hızlı teslimat ve müşteri odaklı yaklaşımımızla alışveriş deneyiminizi unutulmaz kılıyoruz. Ekibimiz, her adımda sizin yanınızda olmaktan mutluluk duyar. Güvenilir alışverişin keyfini çıkarın! 🛍️🤝✨</p>
                <p>Muhteşem Ürünler, Eşsiz Fırsatlar! Modadan teknolojiye, ev dekorasyonundan spor ürünlerine kadar geniş ürün yelpazemizde özel indirimler sizi bekliyor. Hemen keşfedin!</p>

            </div>
        </div>
    </div>
</div>

<div class="site-section border-bottom" data-aos="fade">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 site-section-heading text-center pt-4">
                <h2>Çalışma Ekibimiz</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3">

                <div class="block-38 text-center">
                    <div class="block-38-img">
                        <div class="block-38-header">
                            <img src="/images/profilephoto.png" alt="Image placeholder" class="mb-4">
                            <h3 class="block-38-heading h4">Kullanıcı 1</h3>
                            <p class="block-38-subheading">CEO/Co-Founder</p>
                        </div>
                        <div class="block-38-body">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio recusandae doloribus ut fugit officia voluptate soluta. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="block-38 text-center">
                    <div class="block-38-img">
                        <div class="block-38-header">
                            <img src="/images/profilephoto.png" alt="Image placeholder" class="mb-4">
                            <h3 class="block-38-heading h4">Kullanıcı 2</h3>
                            <p class="block-38-subheading">Co-Founder</p>
                        </div>
                        <div class="block-38-body">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio recusandae doloribus ut fugit officia voluptate soluta. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="block-38 text-center">
                    <div class="block-38-img">
                        <div class="block-38-header">
                            <img src="/images/profilephoto.png" alt="Image placeholder" class="mb-4">
                            <h3 class="block-38-heading h4">Kullanıcı 3</h3>
                            <p class="block-38-subheading">Marketing</p>
                        </div>
                        <div class="block-38-body">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio recusandae doloribus ut fugit officia voluptate soluta. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="block-38 text-center">
                    <div class="block-38-img">
                        <div class="block-38-header">
                            <img src="/images/profilephoto.png" alt="Image placeholder" class="mb-4">
                            <h3 class="block-38-heading h4">Kullanıcı 4</h3>
                            <p class="block-38-subheading">Sales Manager</p>
                        </div>
                        <div class="block-38-body">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio recusandae doloribus ut fugit officia voluptate soluta. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
