<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0"><a a asp-controller="Home" asp-action="Index">Anasayfa</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">İşlemler Sayfası</strong></div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <span class="icon-check_circle display-3 text-success"></span>
                <h2 class="display-3 text-black">Teşekkürler!</h2>
                <p class="lead mb-5">Siparişiniz başarıyla tamamlandı.</p>
                <p><a asp-controller="Home" asp-action="Index" class="btn btn-sm btn-primary">Alışverişe devam et</a></p>
            </div>
        </div>
    </div>
</div>