<!DOCTYPE html>
<html lang="en">
<head>
    <title>Infotech E-Ticaret Projesi</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/aos.css">
    <link rel="stylesheet" href="/css/style2.css" />
    <link rel="stylesheet" href="/css/style.css">
    

</head>
<body>

    <div class="site-wrap">
        @await Component.InvokeAsync("Header")
        @RenderBody()
        <footer class="site-footer border-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="footer-heading mb-4">Site Haritası</h3>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <ul class="list-unstyled">
                                    <li><a href="#">Çevirimiçi Satış</a></li>
                                    <li><a href="#">Fırsatlar</a></li>
                                    <li><a href="#">Sepet</a></li>
                                    <li><a href="#">Ürünler</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <ul class="list-unstyled">
                                    <li><a href="#">Mobil Satış</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <ul class="list-unstyled">
                                    <li><a href="#">Satış Noktaları</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                        <h3 class="footer-heading mb-4">Fırsatlar</h3>
                        <a href="#" class="block-6">
                            <h3 class="font-weight-light  mb-0">Size en uygun ayakkabıyı bulun!</h3>
                        </a>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="block-5 mb-5" style="padding-left: 70px;">
                            <h3 class="footer-heading mb-4">İletişim Bilgileri</h3>
                            <ul class="list-unstyled">
                                <li class="address">203 Sahte sokak, Kadıköy / İstanbul</li>
                                <li class="phone"><a href="tel://23923929210">+90 530 530 53 53</a></li>
                                <li class="email">infotech-eticaret-sitem@domain.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row pt-5 mt-5 text-center">
                    <div class="col-md-12">
                        <p>
                            <a href="https://github.com/furkanadim" target="_blank">2023 Furkan Adim Infotech E-Ticaret Projesi</a>
                        </p>
                    </div>

                </div>
            </div>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/aos.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>